Repository BRMcLaren/test-infra, changes with the labels that .github/labeler.yml gives for each.
All labels: test-infra/openenclave, test-infra/oeedger8r-cpp, test-infra/test-infra, containers, docs, owners, workflows

add Jenkins set up scripts/docs
  config/jenkins/README.md
  config/jenkins/master/install-plugins.sh
  config/jenkins/master/plugins.txt
  config/jenkins/master/setup.sh
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/jenkins_deployment.yaml
  config/prow/cluster/jenkins_rbac.yaml
  config/prow/cluster/jenkins_service.yaml
  config/prow/config.yaml
  hack/jenkinssetupe2e.sh
  hack/prowsetupe2e.sh
Labels: docs

fix long term storage logging
  config/prow/config.yaml
Labels: none

checkpoint for jenkins integration
  config/jobs/test-infra/test-infra-periodics.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/jenkins_deployment.yaml
  config/prow/cluster/plank_deployment.yaml
  config/prow/cluster/prow_job.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/cluster/tot_service.yaml
  config/prow/config.yaml
  hack/jenkinssetupe2e.sh
Labels: test-infra/test-infra

add pr status tool fixes #43
  .gitignore
  config/prow/cluster/deck_deployment.yaml
  hack/prowsetupe2e.sh
Labels: none

shell script merge
  config/jobs/Jenkinsfile
Labels: none

shell script merge
  config/jobs/Jenkinsfile
Labels: none

shell script merge
  config/jobs/Jenkinsfile
Labels: none

shell script merge
  config/jobs/Jenkinsfile
Labels: none

add jenkins aks prototype for Chris
  config/jenkins/cluster-role.yaml
  config/jenkins/jenkins-deploy.yaml
  config/jenkins/jenkins-ingress.yaml
  config/jenkins/jenkins-svc.yaml
Labels: none

Hack
  config/jobs/oeedger8r-cpp/jenkins/Ubuntu1604Build.Jenkinsfile
  config/jobs/oeedger8r-cpp/jenkins/Ubuntu1804Build.Jenkinsfile
Labels: none

.github/labeler.yml:

test-infra/openenclave:
- config/jobs/openenclave-sdk/*

test-infra/oeedger8r-cpp:
- config/jobs/oeedger8r-cpp/*

test-infra/test-infra:
- config/jobs/test-infra/*

containers:
- images/ubuntu
- images/rhel
- images/centos
- images/fedora
- images/windows

docs:
- any: ['**/*.md']

owners:
- any: ['**/OWNERS']

workflows:
- any: ['.github/*']
